
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

/* Local font import */
@font-face {
    font-family: 'Histeagin';
    src: url('/font/histeagin.woff') format('woff');
}

body{
    --blue: #A1CFFF;
    --pink: #FFCCE5;
    --green: #CFFFC1;
    --purple: #E1D4FF;
    --yellow: #FFF8B8;
    --glass-fill: rgba(212, 212, 212, 0.10);
}

h1{
    font-family: 'Playfair Display SC';
    font-size: 40px;
    color: white;
}

h2{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 28px;
    padding: 0;
    margin: 0;
}

p{
    font-family: 'Lustria';
    font-size: 18px;
}

.logo{
    font-family: 'Histeagin';
    color: black;
    font-size: 64px;
}

.glass{
    background-color: var(--glass-fill);
    border: 1px solid #FFF;
    backdrop-filter: blur(17.5px);
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: auto;
}

.nav-links{
    font-family: 'Playfair Display';
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero{
    margin-top: 90px;
    background-image: url(/assets/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: inline-block;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 75px 0;
    border-radius: 70px;
    transform: translate(25%, 10vh);
    width: 40%;
}

.hero-container h1, .hero-container h2, .hero-container p{
    color: white;
    width: 80%;
}

.main{
    width: 99vw;
    height: 60vh;
}

.wrapper, .slide{
    width: 99vw;
    height: 60vh;
}

.slide .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .image-data{
    position: absolute;
    color: white;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.image-data span.text{
    font-family: 'Lustria';
    font-size: 18px;
    width: 80%;
}

button{
    width: 219px;
    height: 50px;
    border-radius: 8px;
    font-family: 'Playfair Display SC';
    border: none;
    color: black;
    font-size: 18px;
    background-color: var(--yellow);
}

button:hover{
    background-color: var(--green);
}

.nav-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.nav-btn:hover{
    background-color: rgba(212, 212, 212, 0.20);
}

.swiper-button-next{
    right: 30px;
}

.swiper-button-prev{
    left: 30px;
}

.nav-btn::before, .nav-btn::after{
    font-size: 25px;
    color: white;
}

.swiper-pagination-bullet{
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: white;
}

.swiper-pagination-bullet-active{
    background-color: var(--purple);
}

.svg1{
    position: absolute;
    z-index: -1;
    top: 1400px;
}

.video-container{
    width: 70vw;
    height: 50vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.video {
    height: 50vh;
    width: 40vw;
}

.video-text{
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.svg2{
    position: absolute;
    z-index: -2;
    top: 1950px;
    left: 250px;
}

.svg3{
    position: absolute;
    z-index: -3;
    top: 2250px;
    left: 900px;
}

.svg4{
    position: absolute;
    z-index: -2;
    top: 2750px;
    left: 100px;
}

.svg5{
    position: absolute;
    z-index: -2;
    top: 3000px;
    left: 650px;
}

.grid-container { 
    margin-top: 10vh;
    justify-content: center;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-template-rows: 30vh 30vh 30vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "text1 img1 text2 img2"
      "img3 text3 img4 text4"
      "text5 img5 text6 img6";
}

.grid-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Playfair Display";
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.grid-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.text1 { 
    grid-area: text1; 
}

.text2 { 
    grid-area: text2; 
}

.text3 { 
    grid-area: text3; 
}

.text4 { 
    grid-area: text4; 
}

.text5 { 
    grid-area: text5; 
}

.text6 { 
    grid-area: text6; 
}

.img1 { 
    grid-area: img1; 
    background-image: url(/assets/image1.jpeg);
}

.img2 { 
    grid-area: img2; 
    background-image: url(/assets/image2.jpeg);
}

.img3 { 
    grid-area: img3; 
    background-image: url(/assets/image3.jpeg);
}

.img4 { 
    grid-area: img4; 
    background-image: url(/assets/image4.jpeg);
}

.img5 { 
    grid-area: img5; 
    background-image: url(/assets/image5.jpeg);
}

.img6 { 
    grid-area: img6; 
    background-image: url(/assets/image6.jpeg);
}

.newsletter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
    margin-top: 40vh;
    height: 70vh;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30vw;
}
    
.email-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    width: 100%;
    background-color: white;
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 10px 15px;
}

.email-container img{
    width: 30px;
    height: 30px;
}

.email-container input{
    border: none;
    font-family: 'Lustria';
    width: 90%;
}

.app{
    width: 400px;
    transform: translateY(-15%);
}

.footer{
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}

.footer-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Lustria';
    font-size: 18px;
    padding-left: 0;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Mobile */
@media (max-width: 600px){

    h1{
        font-size: 28px;
    }
    
    h2{
        font-size: 20px;
    }
    
    p{
        font-size: 14px;
    }

    .nav-container{
        padding: 0 30px;
    }

    .nav-links{
        visibility: hidden;
    }

    .hero{
        height: 80vh;
    }

    .hero-container h1, .hero-container h2, .hero-container p{
        color: white;
        width: 90%;
    }

    .hero-container{
        padding: 15px 0;
        border-radius: 20px;
        transform: translate(0, 70%);
        width: 100%;
        gap: 15px;
        text-align: center;
    }

    .slide .image-data{
        left: 50%;
        padding: 15px;
        gap: 15px;
    }
    
    .image-data span.text{
        font-size: 14px;
    }

    button{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .nav-btn{
        visibility: hidden;
    }

    .video-container{
        flex-direction: column;
        padding: 15px;
        gap: 30px;
    }
    
    .video {
        width: 60vw;
    }
    
    .video-text{
        width: 90%;
    }

    .grid-container { 
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 20vh 20vh 20vh 20vh;
        grid-template-areas:
          "text1 img1 text2 "
          "img2 text3 img3 "
          "text4 img4 text5 "
          "img5 text6 img6";
    }
    
    .grid-text{
        font-size: 16px;
    }

    .newsletter{
        flex-direction: column;
        justify-content: space-around;
        gap: 100px;
        padding: 50px 25px;
        margin-top: 10vh;
        height: auto;
    }
    
    .newsletter-container{
        width: auto;
        text-align: center;
    }

    .email-container{
        width: 90%;
    }
    
    .app{
        width: 200px;
    }

    .footer{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding: 5vh 0;
    }
    
    .footer-links{
        font-size: 16px;
        text-align: center;
    }

    .logo{
        font-size: 50px;
    }

    .svg1{
        top: 1220px;
    }

    .svg2{
        top: 1550px;
        left: 10px;
        width: 70vw;
    }
    
    .svg3{
        top: 2050px;
        left: 150px;
        width: 65vw;
    }
    
    .svg4{
        top: 2440px;
        left: 20px;
        width: 75vw;
    }
    
    .svg5{
        top: 2750px;
        left: 150px;
        width: 60vw;
    }

}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {

    h1{
        font-size: 32px;
    }
    
    h2{
        font-size: 24px;
    }
    
    p{
        font-size: 16px;
    }

    .hero{
        height: 60vh;
    }

    .hero-container{
        padding: 35px 0;
        border-radius: 50px;
        transform: translate(10%, 5vh);
        width: 45%;
    }

    .slide .image-data{
        left: 70%;
    }
    
    .image-data span.text{
        font-size: 16px;
    }
    
    .nav-btn{
        visibility: hidden;
    }

    .video-container{
        flex-direction: column;
        gap: 30px;
    }
    
    .video {
        width: 60vw;
    }
    
    .video-text{
        width: 90%;
    }

    .grid-container {
        grid-template-columns: 20vw 20vw 20vw 20vw;
        grid-template-rows: 15vh 15vh 15vh;
    }
    
    .grid-text{
        font-size: 16px;
    }

    .newsletter{
        gap: 50px;
        height: auto;
        padding: 0 50px;
        margin-top: 20vh;
    }
    .newsletter-container{
        width: 50%;
    }
        
    .email-container{
        width: 90%;
    }
    
    .app{
        width: 300px;
    }

    .footer{
        padding: 5vh 50px;
    }
    
    .footer-links{
        font-size: 16px;
    }

    .svg1{
        top: 1220px;
    }

    .svg2{
        top: 1850px;
        left: 50px;
        width: 50vw;
    }
    
    .svg3{
        top: 2050px;
        left: 330px;
        width: 50vw;
    }
    
    .svg4{
        top: 2250px;
        left: 20px;
        width: 50vw;
    }
    
    .svg5{
        top: 2500px;
        left: 250px;
        width: 43vw;
    }
}
